tensorflow>=2.16.1
numpy>=1.26.4
onnx>=1.14.0
onnx2tf>=1.17.0
onnx2torch>=1.5.0
onnxruntime>=1.16.0
opencv-python>=4.8.0
nudenet>=3.4.0
matplotlib>=3.8.0
seaborn>=0.13.0
pyyaml>=6.0.1
tqdm>=4.66.0
tensorboard>=2.16.0
torch>=2.2.0
torchvision>=0.17.0
pytest>=8.0.0
scikit-learn>=1.4.0
